.headerImg{

    height: 180px;
    border-bottom-style: solid;
    border-width: 5px;   
    border-bottom-color: rgb(238 ,8 ,8); 
   
}

body{
    background: url('images/backdrop5.png');
    background-size: cover;
    background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color:rgb(238, 8, 8);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    
}

.container{
    background: url('images/moonquizback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
	margin-top: 25px;
	text-align: center;
	height: 100%;
    width: 900px;
    border-style: double;
    border-width: 5px;
}

.answerList
{
    padding: 2px;
}

.btn-primary,.reset{
	background-color: #1c26f3;
	color: rgb(255, 255, 255);
	font-family: 'Sigmar One', sans-serif;
	font-size: 40px;
	padding: 25px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #0b1180;
}

.thisChoice:hover{
	background-color: #0b1180;
	color:  rgb(255, 255, 255);
	padding: 10px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}



#jpg{
	margin: 30px;
}

h8{
    color:white; 
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}